<div class="contain">
<div class="footer-container">
    <ul class="footer">
        <span class="about">ABOUT
            <ul>
                <li class="about1"><a  class="about2" routerLink="/">Home</a></li>
                <li class="about1"><a routerLink="/contact-us" class="about2">Contact Us</a></li>
                <li class="about1">About Us</li>
                <li class="about1">Careers</li>
                <li class="about1">Press</li>
                <li class="about1">Klicky Finds Stories</li>
                <li class="about1">Corporate Information</li>
            </ul></span>
            <span class="connect">HELP
                <ul>
                    <li class="about1">Payments</li>
                    <li class="about1">Shipping</li>
                    <li class="about1">FAQ</li>
                    <li class="about1">Cancellation & Returns</li>
                </ul></span>
            <span class="connect">CONSUMER POLICY
                    <ul>
                        <li class="about1">Terms Of Use</li>
                        <li class="about1">Security</li>
                        <li class="about1">Privacy</li>
                        <li class="about1">Sitemap</li>                     
                        <li class="about1">Emergency Response</li>
                        <li class="about1">Cancellation & Returns</li>
                    </ul></span>
                    <div class="border"></div>
                        <span class="address">Registered Office Address:
                            <ul>
                                <li class="address-1">Klicky Finds InterNational Private Limited,</li>
                                <li class="address-1">Buildings Halwasia, cottage &</li>
                                <li class="address-1">Cheese Tech Village, Outer Ring Road, </li>
                                <li class="address-1">Electronic City, Lucknow, 601033,</li>
                                <li class="address-1">Mumbai, India</li>
                                <li class="address-1">Telephone: 052-4400440044233 / 052-898981</li>
                        </ul></span>
    </ul>
<br>
<div class ="copy-right">Made With <div class="heart"> &hearts; </div> By Faizan Syed</div>
<div class= "copy-right-1">All Rights Reserved &COPY; 2025-26 - Klicky Finds InterNational</div>
</div>
</div>



